# Introducción a Python


**Este Notebook tiene como objetivo hacer una introducción a la funcionalidad de python como lenguaje de programación.**

Temas a tratar:

* Tipos de Datos:
    * Numeros
    * Strings
    * Printing
    * Listas
    * Diccionarios
    * Booleanos
    * Tuplas 
    * Sets
* Operadores Comparativos
* Declaraciones if,elif, else.
* for Loops
* while Loops
* range()
* Comprensión de Listas
* Funciones
* Expresiones Lambda
* map & filter
* Métodos
____

## Tipos de Datos

### Enteros (INT) y Décimales (FLOAT)

In [ ]:
print(type(1 + 1))
1+1

In [ ]:
1 * 3

In [ ]:
print(type(1 / 2))
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Asignación de Variables

In [ ]:
# No pueden comenzar con Números o caracteres especiales
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'comillas sencillas'

In [ ]:
"comillas dobles"

In [ ]:
" encapsula espacios y otras ' comillas"

### Imprimiendo en Jupyter Notebbok.

In [ ]:
x = 'hola'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Jon'

In [ ]:
print('Mi Numero es: {}, y mi nombre es: {}'.format(num,name))

In [ ]:
print('My number is: ' + 'num'+ ', and my name is:' + name)

### Listas

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Diccionarios

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

In [26]:
# Ahora también diccionario pero con algo de contexto.
contactos = {}
contactos['Carlos'] = 3158594734
contactos['Andrés'] = 3128557495
contactos['Sandra'] = 4559541585

print(contactos)

{'Carlos': 3158594734, 'Andrés': 3128557495, 'Sandra': 4559541585}

In [28]:
# Ahora usamos una notación distinta

contactos = {
    'Carlos' : 3158594734,
    'Andrés' : 3128557495,
    'Sandra' : 4559541585
}

print(contactos)

{'Carlos': 3158594734, 'Andrés': 3128557495, 'Sandra': 4559541585}

In [36]:
# Agregar un contacto
contactos['Juan'] = 3188298513
print(contactos)

{'Carlos': 3158594734, 'Andrés': 3128557495, 'Sandra': 4559541585, 'Juan': 3188298513}

In [37]:
# Que pasa si queremos remover un valor dentro del diccionario?
del contactos['Juan']
print(contactos)

{'Carlos': 3158594734, 'Andrés': 3128557495, 'Sandra': 4559541585}

### Booleanos

In [ ]:
True

In [ ]:
False

### Tuplas

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW'

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Operadores Comparativos

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'hello'

## Operadores Lógicos

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## Declaraciones if,elif, else

In [ ]:
if 1 < 2:
    print('Acceso!')

In [ ]:
if 1 < 2:
    print('primero')
else:
    print('segundo')

In [ ]:
if 1 > 2:
    print('primero')
else:
    print('segundo')

In [ ]:
if 1 == 2:
    print('primero')
elif 3 == 3:
    print('segundo')
else:
    print('último')

## for Loops (con Iterables)

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
type(seq)

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('hola')

In [ ]:
for loquesea in seq:
    print(loquesea+loquesea)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: '+ str(i))
    i = i+1

## range() Función para crear Iterables

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## comprensión de listas

In [1]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## Funciones

In [2]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [3]:
my_func

In [4]:
my_func()

default

In [5]:
my_func('new param')

new param

In [6]:
my_func(param1='new param')

new param

In [7]:
def square(x):
    return x**2

In [8]:
out = square(2)

In [9]:
print(out)

4

### Funciones en todas partes###
Recordando de la sección de diccionarios de contactos agregaremos ahora una función que nos permita testear si el nombre que queremos agregar a contactos se encuentra o no dentro del diccionario, y retornar un mensaje de acuerdo a cada situación

In [39]:
# Mostrar como podemos agregar funcionalidad a estaencontactos
# Agregando acciones adicionales al else statement.
def estaencontactos (contacto):
    if str(contacto) in contactos:
        print (str(contacto) + ' esta dentro de la lista de contactos')
    else:
        print (str(contacto) + ' No está en la lista de contactos')

In [43]:
# Probamos la función estaencontactos()
print(contactos)
estaencontactos("Javier")

{'Carlos': 3158594734, 'Andrés': 3128557495, 'Sandra': 4559541585}
Javier No está en la lista de contactos

In [46]:
# Funciones con múltiples argumentos.
def mi_funcion_con_args(user, pc):
    print('hola, %s, estoy desde la función, estas usando un %s'%(user, pc))


mi_funcion_con_args('Julian', 'lunux')

hola, Julian, estoy desde la función, estas usando un lunux

### Ejercicio ###:
1. Crearemos una función llamada lista_de_beneficios() que regrese la siguiente lista de beneficios de usar funciones estas son 'Codigo mas organizado', 'Codigo mas legible', 'Codigo mas facil de reusar', 'Permite a programadores compartir y conectar código'.

2. Agregar una función llamada construir_frase(info) que reciba un argumento que contenga un string y regrese una frase, empezando po la string entregada y terminando en 'es un beneficio de las funciones!'.

3. Crear una funcion llamada nombrar_los_beneficios_de_las_funciones() que empaquete las funciones anteriores y regrese todos los resultados

In [50]:
def lista_de_beneficios():
    return ['Codigo mas organizado', 
            'Codigo mas legible', 
            'Codigo mas facil de reusar', 
            'Permitir a programadores compartir y conectar código']

def construir_frase(beneficio):
    return str(beneficio) + ' es un beneficio de las funciones!'

def nombrar_los_beneficios_de_las_funciones():
    lista_beneficios = lista_de_beneficios()
    for beneficio in lista_beneficios:
        print(construir_frase(beneficio))

nombrar_los_beneficios_de_las_funciones()

Codigo mas organizado es un beneficio de las funciones!
Codigo mas legible es un beneficio de las funciones!
Codigo mas facil de reusar es un beneficio de las funciones!
Permitir a programadores compartir y conectar código es un beneficio de las funciones!

## Expresiones Lambda

In [18]:
def por2(var):
    return var*2

In [19]:
por2(2)

4

In [31]:
lambda var: var*2

## map and filter

In [23]:
seq = [1,2,3,4,5]

In [24]:
map(por2,seq)

In [32]:
list(map(por2,seq))

[2, 4, 6, 8, 10]

In [33]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [34]:
filter(lambda item: item%2 == 0,seq)

In [35]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [36]:
st = 'hello my name is Sam'

In [37]:
st.lower()

'hello my name is sam'

In [38]:
st.upper()

'HELLO MY NAME IS SAM'

In [39]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [40]:
tweet = 'Go Sports! #Sports'

In [41]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [42]:
tweet.split('#')[1]

'Sports'

In [45]:
d = {'key1':'item1','key2':'item2'}

In [46]:
d.keys()

dict_keys(['key1', 'key2'])

In [47]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [48]:
lst = [1,2,3]

In [49]:
lst.pop()

3

In [50]:
lst

[1, 2]

In [51]:
'x' in [1,2,3]

False

In [52]:
'x' in ['x','y','z']

True

### Clases y Objetos.###

In [17]:
class MiClase:
    variable = "hola"

    def funcion(self):
        print("Este mensaje proviene de la clase MiClase")

In [18]:
## Ahora asignamos la clase a un Objeto.

miobjeto = MiClase()

In [19]:
# podemos ahora hacer llamados a las variables que etán dentro de la clase desde el objeto.
miobjeto.variable

'hola'

In [20]:
# Tambien podemos crear objetos adicionales que hereden las propiedades de la clase.
miobjetox = MiClase()
miobjetoy = MiClase()

In [21]:
# Sin necesidad de asignar directamente objetoy al string 'hola', podemos igual obtener la variable dentro de la clase.
print(miobjetox.variable)
print(miobjetoy.variable)

hola
hola

In [22]:
# Así como podemos heredar los objetos, podemos modificarlos externamente.
miobjetoy.variable = 'otro'
print(miobjetox.variable)
print(miobjetoy.variable)

hola
otro

In [23]:
## Y podemos acceder a las funciones que se encuentran dentro de las clases
miobjetox.funcion()

Este mensaje proviene de la clase MiClase

In [8]:
# Usos de estas propiedades

#Definamos una clase vehículos.

class Vehicle:
    nombre = ''
    tipo = 'carro'
    color = ''
    valor = 100.000
    def descripción(self):
        descr_str = '%s es un %s %s que vale $%.2f.' %(self.nombre, self.color, self.tipo,
                                                      self.valor)
        return descr_str

### Ejercicio: Vamos a asignar la clase Vehicle() a dos objetos llamados car1 y car2 y modificaremos sus atributos individualmente para obtener la descripción de :###
- Un convertible rojo que vale $60000$ de nombre Fer, y una van azul de nombre jump que vale $10000$

In [1]:
# Realizar el ejercicio.